:root {
    --
}

body {
    color: #212121;
    font-family: Roboto, sans-serif;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
address {
	font-style: inherit;
}

.btn {
    font-family: inherit;
    cursor: pointer;
}

/* ШАПКА */
.header-page {
    background-color: #FFFFFF;
}

.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}

.logo-web {
    color: #2196F3;
}

.item-nav {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.item-nav:hover,
.item-nav:focus {
    color: #2196F3; 
}

.item-nav.current {
    color: #2196F3;
} 

.item-info {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;;
}

.item-info:hover,
.item-info:focus {
    color: #2196F3;
}

/* ГЕРОЙ */

.hero {
    background-color: #2F303A;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero-btn {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
}

.hero-btn:hover,
.hero-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.section {
    background-color: #FFFFFF;   
}

.section-subtitle {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.section-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.about {
    background-color: #FFFFFF;  
}

.about-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.our {
   background-color: #F5F4FA; 
}
 
.our-item {
    background: #FFFFFF;
}

.our-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.our-item-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.our-text {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

/* Підвал */
 
.footer-page {
    
    color: #FFFFFF;
    background-color: #000000;
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.footer-page .logo {
    color: #FFFFFF;
}

 .mail, .tel {
color: rgba(255, 255, 255, 0.6);
}

.portfolio {
    background-color: #FFFFFF; ;
}
.portfolio-title {
}
.portfolio-items-nav {
}
.portfolio-list {
}
.portfolio-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;

}

.portfolio-item {
  
}


.portfolio-subtitle {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}